<div id="modal_member_already_voted" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert-danger">
        <h4>A team member can only vote once.</h4>
      </div>
      <div class="modal-footer">
        <div align="center">
          <button id="close_member_already_voted_modal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
