<div id="modal_informative" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="modal_informative_title">
          <h4 class="modal-title" />
        </div>
      </div>
      <div class="modal-footer">
        <div align="center">
          <button id="modal_informative_button" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
