<div class="col-md-4 col-md-offset-4 col-sm-4">
  <% if Vote.any? %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="text-align:center;" width="10%">Rank</th>
          <th>Restaurant</th>
          <th style="text-align:right;" width="17%">Points</th>
        </tr>
      </thead>
      <tbody>
        <% rank = 0 %>
        <% @votes.each do |v| %>
          <% @nomination = Nomination.find(v.nomination_id) %>
          <% @restaurant = Restaurant.find(@nomination.restaurant_id) %>
          <tr>
            <td style="text-align:center;"><%= rank += 1 %></td>
            <td style="text-decoration:underline;"><%= link_to @restaurant.name, @restaurant.url, target: '_blank' %></td>
            <td style="text-align:right;"><%= v.points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h4 style="text-align:center;">No one has voted.</h3>
  <% end %>
</div>
