<div class="col-md-8 col-md-offset-2 col-sm-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Restaurant</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Fogo</td>
        <td>7</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Working Man's Friend</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>