/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
*/

body { padding-top: 70px; }

#identifier {

}

.navbar-brand {
  color: white;
}

.row-offset {
  margin-bottom: 1em;
}

#restaurant_nominations {
  min-height: 50px;
  /*margin: 0px 25px 10px 0px;*/
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  list-style-position: inside;
}

#restaurant_selections {
  min-height: 50px;
  /*margin: 0px 25px 10px 0px;*/
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: decimal;
  list-style-position: inside;
}

#restaurant_nominations {
  border-color: #f8e0b1;
}

#restaurant_selections {
  border-color: #add38d;
}

#restaurant_nominations li, #restaurant_selections li {
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#restaurant_nominations li, #restaurant_nominations a {
  background-color: #fcf8e3;
  color: #c09853;
  text-decoration: underline;
}

#restaurant_selections li, #restaurant_selections a {
  background-color: #ebf5e6;
  color: #468847;
  text-decoration: underline;
}

.sortable-dragging {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #bbb !important;
}

.sortable-placeholder {
  height: 40px;
}

#restaurant_nominations .sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
}

#restaurant_selections .sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
}

.center-block {
  float: none !important;
}
