<nav class="navbar navbar-inverse navbar-static-top" style="margin-top:-70px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'E-Business Holiday Meal', root_path, class: 'navbar-brand' %>
    </div>
    <div class="col-xs-6 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2">
      <div id="countdown_alert" class="navbar-text" style="color:white;"></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="nav_link_to_vote"><%= link_to 'Vote', root_path %></li>
        <li id="nav_link_to_results"><%= link_to 'Results', results_path %></li>
      </ul>
    </div>
  </div>
</nav>
