<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!--<a href="#" class="navbar-brand">E-Business Holiday Meal</a>-->
    <%= link_to 'E-Business Holiday Meal', root_path, class: 'navbar-brand' %>
  </div>
</nav>
