<nav class="navbar navbar-inverse" role="navigation" style="margin-top:-70px;">
  <div class="container">
    <div class="col-md-3 col-md-offset-2 col-sm-3">
      <%= link_to 'E-Business Holiday Meal', root_path, class: 'navbar-brand' %>
    </div>
    <div class="col-md-2 col-md-offset-3 col-sm-2">
      <ul class="nav navbar-nav">
        <li id="nav_link_to_vote"><%= link_to 'Vote', root_path %></li>
        <li id="nav_link_to_results"><%= link_to 'Results', results_path %></li>
      </ul>
    </div>
  </div>
</nav>
